:root {
    --main-color: rgb(42, 42, 42);
    --main-gradient: rgb(42, 42, 42), lightblue;
    --secondary-color: lightblue;    
    --secondary-gradient: lightblue, rgb(42, 42, 42);
    --form-color: white;
}
html {
    overflow-y: scroll;
}
body {
    padding: none;
    margin: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    color: lightblue;
}
#theme-container {
    position: absolute;
    top: 30px;
    right: 0;
}

#new-book-form {
    position: absolute;
    top: 100%;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
    min-width: 150px;
    max-width: 300px;
    width: 20vw;
    border-radius: 20px;
    border: 8px double black;
    background-color: var(--form-color);
    transition: transform 0.5s ease-in-out;
    transform: scale(0.01); 
    opacity: 0; 
}
#new-book-form.active {
    transform: scale(1); 
    opacity: 1;
}

#select-menu {
  width: 100px;
  height: 30px;
  padding: 5px 5px;
  margin-right: 20px;
  align-self: center;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  background-color: var(--main-color);
  color: var(--secondary-color);
  font-size: 16px;
}
#main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#new-book-btn,
#add-book,
.toggle-btn,
.remove-btn
{
    min-width: 100px;
    max-width: 200px;
    width: 10vw;
    height: 30px;
    border-radius: 20px;
    border: none;
    transition: filter 0.3s ease;
}

#new-book-btn:hover,
#add-book:hover, 
.toggle-btn:hover,
.remove-btn:hover {
    filter: brightness(0.8);
}

#new-book-btn,
#add-book {
    background-color: var(--secondary-color);
    color: var(--main-color);
    margin: 30px auto 15px auto;
}

#add-book {
    margin: 0;
    box-shadow: 5px 5px 10px 0px var(--main-color);    
    margin: 30px auto 30px auto;    
}

#add-book-btn {
    display: flex;
    justify-content: center;
    margin: 30px;
}
.book-input::placeholder {
    color: var(--secondary-color);
}
.book-input {
    display: block;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    width: 80%;
    margin: 30px auto 0 auto;
    align-items: center;
    justify-content: center;
}
.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18vw, 1fr));
    gap: 20px;
    padding: 20px;
}
.book-container {
    border: 1px solid var(--secondary-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: space-between;
    border-radius: 20px;
    background: linear-gradient(to bottom, var(--main-gradient));
    color: var(--main-color);
}
.book-container.not-read {
    background: linear-gradient(to top, var(--main-gradient));
    color: var(--secondary-color);
}
#book-name.read {
    color: var(--secondary-color);
}
.book-name.not-read {
    color: var(--main-color);
}
.book-img {
    width: 15vw;
    height: 275px;
    object-fit: cover;
    object-position: center;
    align-self: center;
    border-radius: 20px;
    border: 1px solid var(--main-color);
}
.toggle-btn,
.remove-btn {
    align-self: center;
    margin-bottom: 10px;
    background-color: var(--main-color);
    color: var(--secondary-color);
}
.toggle-btn.not-read,
.remove-btn.not-read {
    background-color: var(--secondary-color);
    color: var(--main-color);
}
.book-name {
    font-size: 24px;
    margin-bottom: none;
}
.get-status {
    -webkit-transform: scale(1.5);  /* for Chrome, Safari, Opera */
    -moz-transform: scale(1.5);  /* for Firefox */
    transform: scale(1.5);
    margin-right: 5px;
}
.checkbox-label {    
    color: var(--main-color);
}
.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    gap: 10px;
}
.search-container {
    display: flex;
    width: 80%;
    height: auto;
    background-color: grey;
    border: 1px solid white;
    border-radius: 25px;
    justify-content: space-between;
    margin-top: 30px;
    align-self: center;
}
.search,
.search:focus,
.sort {
    margin: 20px 30px 20px 30px;
    height: 30px;
    border-radius: 25px;
    min-width: 100px;
    max-width: 200px;
    width: 10vw;
    box-shadow: 5px 5px 10px 0px var(--main-color);   
    padding-left: 8px; 
    text-indent: 8px;
}
.sort {
    padding-left: 8px;
}